<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.base.dao.memberHistory.MemberHistoryDao">
    <resultMap id="memberHistory" type="com.example.demo.base.dao.memberHistory.MemberHistoryDto">
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="PRODUCT_ID" property="productId"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="PRODUCT_PRICE" property="productPrice"/>
        <result column="PRODUCT_TYPE" property="productType"/>
        <result column="SALE_DAY" property="saleDay"/>
        <result column="EMPLOYEE_ID" property="employeeId"/>
        <result column="EMPLOYEE_NAME" property="employeeName"/>
    </resultMap>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- SELECT -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <select id="selectMemberHistory" resultMap="memberHistory">
        SELECT
        MEMBER_ID,
        MEMBER_NAME,
        PRODUCT_ID,
        PRODUCT_NAME,
        PRODUCT_PRICE,
        PRODUCT_TYPE,
        SALE_DAY
        FROM
        MEMBER_HISTORY
        WHERE
        MEMBER_ID = #{memberId}
    </select>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- INSERT -->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <insert id="insertOne" parameterType="com.example.demo.base.domain.memberHistory.MemberHistoryForm">
        INSERT INTO MEMBER_HISTORY
        <trim suffixOverrides="," suffix=")" prefix="(">
            <if test="memberId != null">
                MEMBER_ID,
            </if>
            <if test="memberName != null">
                MEMBER_NAME,
            </if>
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="productName != null">
                PRODUCT_NAME,
            </if>
            <if test="productPrice != null">
                PRODUCT_PRICE,
            </if>
            <if test="productType != null">
                PRODUCT_TYPE,
            </if>
            <if test="saleDay != null">
                SALE_DAY,
            </if>
        </trim>
        <trim suffixOverrides="," suffix=")" prefix="values(">
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="memberName != null">
                #{memberName},
            </if>
            <if test="productId != null">
                #{productId},
            </if>
            <if test="productName != null">
                #{productName},
            </if>
            <if test="productPrice != null">
                #{productPrice},
            </if>
            <if test="productType != null">
                #{productType},
            </if>
            <if test="saleDay != null">
                #{saleDay},
            </if>
        </trim>
    </insert>
</mapper>