<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="cashRegister_contents">
    <div class="page-header">
        <h1>お買い物</h1>
    </div>
    <form method="get" action="/cashRegister_contents" th:object="${memberHistoryForm}">
        <div class="form-group">
            <label>商品ID</label>
            <input type="text" th:field="*{productId}"/>
        </div>
        <div class="form-group">
            <label>商品名</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <button class="btn btn-warning" type="submit">検索</button>
    </form>
    <br/>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th class="warning col-sm-2">商品ID</th>
            <th class="warning col-sm-2">商品名</th>
            <th class="warning col-sm-2">商品金額</th>
            <th class="warning col-sm-2">商品の種類</th>
            <th class="warning col-sm-2">商品の在庫数</th>
            <th class="warning col-sm-2">イメージ</th>
            <th class="warning col-sm-2"></th>
        </tr>
        <tr th:each="product:${memberHistoryFormList}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productType}"></td>
            <td th:text="${product.productInventory}"></td>
            <td>
                <img th:src="${product.productImageId}" style="width:90px;height:60px">
            </td>
            <td>
                <a class="btn btn-warning" th:href="@{'/productPurchase/'+${product.productId}}">詳細</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>